<footer class="footer">
  <div class="container">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/muvucagames" data-widget-id="614491429205868544">muvucagames Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</footer>
