<footer class="footer">
    <div class="container">
        <ul class="hidden-xs">
            <li><a href="/">Novidades</a></li>
            <li><a href="{{ "/como-participar" | prepend: site.baseurl }}">Como participar?</a></li>
            <li class="dropdown dropup community-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Comunidade <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://www.youtube.com/user/TheindieDi">Youtube</a></li>
                    <li class="divider"></li>
                    <li><a href="http://www.trello.com/muvucagames">Trello</a></li>
                    <li><a href="http://muvucagames.slack.com">Slack</a></li>
                    <li class="divider"></li>
                    <li><a href="https://github.com/muvucagames">GitHub</a></li>
                </ul>
            </li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
            <li><a href="{{ "/sobre" | prepend: site.baseurl }}">Sobre</a></li>
        </ul>
        <p>Muvuca Games</p>
    </div>
</footer>