<div class="container-fluid header">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="logo">
          <a href="{{ "/" | prepend: site.baseurl }}">
            <img class="img-responsive" src="{{ "/assets/layout/logo.png" | prepend: site.baseurl }}" alt="">
          </a>
        </div>
      </div>

      <div class="col-md-3 col-xs-12 links">
        <ul class="nav navbar-nav navbar-right network">
          <li><a href="https://trello.com/muvucagames" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/trello.png" | prepend: site.baseurl }}" alt=""></a></li>
          <li><a href="https://muvucagames.slack.com/" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/slack.png" | prepend: site.baseurl }}" alt=""></a></li>
          <li><a href="https://www.facebook.com/Muvuca-Games-1186296278069557/?view_public_for=1186296278069557" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/facebook.png" | prepend: site.baseurl }}" alt=""></a></li>
          <li><a href="https://www.youtube.com/channel/UCYP5cUOxrIWnizxMLTTkV2w" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/youtube.png" | prepend: site.baseurl }}" alt=""></a></li>
          <li><a href="https://twitter.com/muvucagames" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/twitter.png" | prepend: site.baseurl }}" alt=""></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
