<div class="container-fluid header">

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="logo">
                    <a href="{{ "/" | prepend: site.baseurl }}">
                        <img class="img-responsive" src="{{ "/assets/layout/logo.png" | prepend: site.baseurl }}" alt="">
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 links">
                <ul class="nav navbar-nav navbar-right network">
                    <li><a href="https://trello.com/muvucagames" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/trello.png" | prepend: site.baseurl }}" alt=""></a></li>
                    <li><a href="https://muvucagames.slack.com/" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/slack.png" | prepend: site.baseurl }}" alt=""></a></li>
                    <li><a href="https://www.facebook.com/groups/1591708917751343/" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/facebook.png" | prepend: site.baseurl }}" alt=""></a></li>
                    <li><a href="https://www.youtube.com/channel/UCO_PCFjxUIDzOHKJpMiNdsg" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/youtube.png" | prepend: site.baseurl }}" alt=""></a></li>
                    <li><a href="https://twitter.com/diogoMRG" target="_blank"><img class="img-responsive" src="{{ "/assets/layout/twitter.png" | prepend: site.baseurl }}" alt=""></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!--<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ "/assets/logo.jpg" | prepend: site.baseurl }}" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Novidades</a></li>
                <li><a href="{{ "/como-participar" | prepend: site.baseurl }}">Como participar?</a></li>
                <li class="dropdown community-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Comunidade <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://www.youtube.com/user/TheindieDi">Youtube</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.trello.com/muvucagames">Trello</a></li>
                        <li><a href="http://muvucagames.slack.com">Slack</a></li>
                        <li class="divider"></li>
                        <li><a href="https://github.com/muvucagames">GitHub</a></li>
                    </ul>
                </li>
                <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
                <li><a href="{{ "/sobre" | prepend: site.baseurl }}">Sobre</a></li>
            </ul>
        </div>
    </div>
</div>-->
