<div class="fluid-container mini-header">
  <div class="background"></div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="logo">
          <a href="{{ "/" | prepend: site.baseurl }}">
            <img class="img-responsive" src="{{ "/assets/layout/logo.png" | prepend: site.baseurl }}" alt="">
          </a>
        </div>
      </div>

      <div class="col-md-8 hidden-xs">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ "/" | prepend: site.baseurl }}">Novidades</a></li>
          <li><a href="{{ "/como-participar" | prepend: site.baseurl }}">Como participar?</a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
          <li><a href="{{ "/sobre" | prepend: site.baseurl }}">Sobre</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
