/**
 * Colors
 */
$white:      #FFFFFF;
$grey:       #AEAEAE;
$dark-grey:  #525252;
$light-grey: #FAFAFA;
$blue:       #4f7bbe;
$red:        #991B1E;



/**
 * Other vars
 */
$spacing-unit: 30px;
$content-max-width: 900px;



/**
 * *
 */
* {
    font-family: $font;
}



/**
 * Body
 */
body {
    background-color: #221F1F;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}



/**
 *
 */
.container {
    max-width: $content-max-width;
}



/**
 * Site Content
 */
.content {
    background-color: $white;
    padding-bottom: 10px;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Links
 */
a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: darken($blue, 25%);
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey;
    border-left: 4px solid $grey;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
