.home {
	background: $white;

	h3 {
		font-family: $font-strong;
		text-align: center;
	}

	p {
		color: $grey;
		font-family: $font;
		font-size: 18px;
	}

	.get-started {
		padding: 10px 0 30px 0;
		text-align: center;

		p {
			text-align: center;
		}
		.btn-get-started {
  			border-radius: 0 !important;
			background-color: $red;
			color: $white;
		  	border: 0px;
			padding: 10px;
			font-family: $font-strong;
			font-size: 20px;
		}

		.btn-get-started:hover,
		.btn-get-started:focus,
		.btn-get-started:active,
		.btn-get-started.active {
			background-color: darken($red, 10%);
		}

	}

	.how-to-help {
		background: $light-grey;
		padding: 30px 0 30px 0;

		.circle {
			border-radius: 999px;
			margin: 0px auto;
			height: 80px;
			width: 80px;
			background-color: $red;
		}

		p {
			padding-top: 10px;
			font-size: 13px;
			text-align: center;
		}

	}

	.news {
		margin-top: 30px;
		margin-bottom: 30px;

		.title {
			font-family: $font-strong;
			color: $grey;
			padding-bottom: 10px;
			border-bottom: lighten($grey, 25%) 1px solid;
			text-align: left;
		}

		.post {

			p {
				text-align: left;
				font-size: 20px;
			}

		}

	}

}

.post {

	.post-header {

		.post-title {
			font: 35px $font-strong;
			color: $blue;
			margin-bottom: 0px;
		}

		.post-info {
			font: 14px $font;
		    text-decoration: none;
		    display: block;
		    margin-top: 3px;
			color: $grey;
			margin-bottom: 30px !important;
		}

	}

	.post-content {
		color: $dark-grey;
		text-align: justify;
		strong {
			font-family: $font;
		}

		h1, h2, h3, h4 {
			font: 20px $font;
			color: $grey;
			margin-top: 40px;
			border-bottom: 1px solid lighten($grey, 25%);
		}

		p {
			font: 16px $font;
			word-spacing: 0.08px;
		}

		img {
			margin: 0 auto;
	    	display: block;
		}

	}
}
