/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
$font: 'Source Sans Pro', sans-serif;*/

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic);
$font: 'Merriweather', serif;

@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
$font-strong: 'Montserrat', sans-serif;