
.header {
    background: $white;

    .container {
        padding: 10px 0px 10px 0px;
    }

    .logo {
        margin-top: 80px;
        display: block;
        width: 190px;
        height: 184px;

    }

    .links {

        li {
            display:inline-block;
        }

        li > a {
            padding: 5px;
        }

        .nav a:hover {
            background: transparent;
        }

        a {
            img {
                width: 25px;
                height: 25px;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);  /* For Webkit browsers */
                filter: gray;  /* For IE 6 - 9 */
                -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
            }
        }

        a:hover, a:focus {
            background-color: none;
            img {
                filter: grayscale(0%);
                -webkit-filter: grayscale(0%);
                filter: none;
            }
        }

    }

}


.mini-header {
    height: 120px;
    background: $white;

    .background {
        position: absolute;
        width: 100%;
        height: 60px;
        background-color: $blue;
    }

    .logo {
        margin: 0 auto;
        width: 114px;
        height: 110px;
    }

    .navbar-nav {
        margin-top: 5px;
    }

    .navbar-nav > li > a {
        color: $white;
    }

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus,
	.navbar-nav > .active,
	.navbar-nav > .active > a,
	.navbar-nav > .active > a:hover,
	.navbar-nav > .active > a:focus {
		background-color: transparent;
        color: $white;
        text-decoration: underline;
	}

}
/*.navbar {
    background-color: $white;
	border-color: $white;
	padding: 10px 0;
	min-height: 90px;
	border-bottom: 1px solid lighten($grey, 25%);
	border-top: 10px solid $blue;
	margin-bottom: 0px;

	.navbar-brand {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.navbar-toggle {
		background-color: #b4b3b3;
		border-color: #9b9a9a;
	}

	.nav > li > a {
		padding-right:0;
		padding-left:0;
		margin:0 15px;
	}

	.navbar-nav {
		padding-top: 5px;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus{
		color: $blue;
		background-color: $white;
	}

	.navbar-nav > .active > a {
		background-color: $white;
		border-bottom: 1px solid $blue;
	}

	.navbar-nav > .active,
	.navbar-nav > .active > a,
	.navbar-nav > .active > a:hover,
	.navbar-nav > .active > a:focus {
		background-color: transparent;
		color:$blue;
	}

}*/
