$youtube-embed-width: 500px;
$youtube-embed-height: 300px;

.youtube-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    iframe {
        margin: 0 auto;
        width: 100%;
        max-width: $youtube-embed-width;
        height: $youtube-embed-height;
    }
}
